html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit
}


/* clearfix */

.group:before,
.group:after {
    content: "";
    display: table;
}

.group:after {
    clear: both;
}

body {
    margin: 0;
    padding: 0;
}


/* clearfix-end ========================*/

.wrapper group {
    max-width: 1024px;
    margin: 0;
    padding: 0;
}

.navbar {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    background: #2b2b2b;
    overflow: auto;
}

.navbar li {
    float: left;
}

.content {
    padding: 0 20px;
    text-align: center;
}

.navbar li a,
.navbar .dropbtn {
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 5px 10px;
    display: block;
}

.navbar li a:hover,
.navbar .dropdown:hover .dropbtn {
    background: red;
}

.dropdown {
    display: inline-block;
}

.dropdown-content {
    background: #f9f9f9;
    min-width: 160px;
    position: absolute;
    display: none;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background: #bada55;
}

.dropdown:hover .dropdown-content {
    display: block;
}

@media screen and (max-width: 600px) {
    .navbar {
        width: 100%;
        position: relative;
        height: auto;
    }
    .navbar li {
        float: left;
    }
    .content {
        float: none;
        width: 100%;
        text-align: justify;
    }
}

@media screen and (max-width: 400px) {
    .navbar li,
    .content {
        float: none;
        text-align: center;
    }
}